﻿html, body{
    font-size: 100%;
	font-family: 'Open Sans', sans-serif;
	background:#ffffff;
	margin: 0;
}
p,ul li,ol li{
	margin:0;
	font-size:14px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Work Sans', sans-serif;
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
input[type=submit], input[type=reset], .w3l_team_grd, .agileits_w3layouts_features_gridr h4, .agile_feature_grid, .agile_services_grid_pos, a, .w3l_footer_grid, .w3_two_grid_right_grid1, .w3_two_grid_right_grid1 i{
	-webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition:0.5s ease-in;
}

.agile_header_grid{
	padding: 1em 0;
	border-bottom: 1px solid #e6e6e6;
}
.w3_agile_logo{
	float:left;
}
.w3_agile_logo h1 a {
    font-size: 35px;
    color: #4FC242;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.agileits_w3layouts_sign_in{
	float:right;
	margin-top: .3em;
}
.agileits_w3layouts_sign_in ul li{
	display:inline-block;
	color:#212121;
	margin-left:2em;
}
.agileits_w3layouts_sign_in ul li a {
    display: inline-block;
    padding: .5em 2em;
    background: #4FC242;
    color: #fff;
	    outline: none;
		margin-top: 7px;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
}
.agileits_w3layouts_sign_in ul li a:hover{
	background: #C76994;
}
.agileits_w3layouts_sign_in ul li span {
    font-size: 1.5em;
    color: #4FC242;
}
.w3_agileits_nav {
    background: #414641;
}
/*-- nav --*/
/*-- w3ls-nav --*/
.navbar {
    min-height: 25px;
    margin-bottom: 0;
}
.navbar-default {
    background-color: rgba(248, 248, 248, 0)! important;
    border-color: rgba(248, 248, 248, 0) ! important;
}
.w3ls-nav {
    margin: 0em 0 0 0;
    text-align: center;
    padding: 1.4em 0;
}
.w3ls-nav ul{
    padding: 0;
    margin: 0;
}
.w3ls-nav ul li{
    display: inline-block;
    margin: 0 4em;
    float: none;
}
.w3ls-nav ul li:first-child{
	margin-left:0;
}
.w3ls-nav ul li:nth-child(6){
	margin-right:0;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: none !important;
    box-shadow: 1px 0px 0px 0px rgba(72, 72, 72, 0);
}
ul.dropdown-menu li {
    margin: 0 0 10px! important;
}
ul.dropdown-menu {
    background:#414641;
    box-shadow: 0 0 0;
    border: none;
    margin: 0;
    top: 3.25em;
    right: 27px ! important;
    min-width: 187px;
    padding: 0.5em;
}
.dropdown-menu {
     background: #414641 ! important;
}
.navbar-nav {
    float: none;
}
.w3ls-nav ul li a{
	color: #e4dddd !important;
    font-size: 15px;
    margin: 0;
    text-decoration: none;
    padding: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.w3ls-nav ul li a:hover{
    color: #FFF !important;
}
.w3ls-nav ul li a.active{
    color: #FFF !important;
}
.agile_short_dropdown {
    border-radius: 0;
    background: #ffffff;
    text-align: center;
	padding:0;
	border: none;
}
.agile_short_dropdown li a{
	text-transform:uppercase;
	color:#212121;
	font-size:13px;
	font-weight:600;
	padding: .8em 0;
}
.agile_short_dropdown > li > a:hover{
    color: #fff;
    text-decoration: none;
    background-color:#414641;
}

.agileinfo_search{
    border-bottom: 1px solid #999;
}
.agileinfo_search input[type=text]{
    outline: none;
    width: 82%;
    background: #fff;
    color: #212121;
    padding: 10px;
    font-size: 14px;
    border: none;
}
.agileinfo_search input[type=submit]{
    outline: none;
    width: 16%;
    background: url(../images/search.png) no-repeat 7px 2px;
    border: none;
    padding: 0;
}
.banner{
	background:url(../images/18.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:640px;
	position: relative;
	text-align: center;
	padding: 8em 0 0;
}
.banner1{
	background:url(../images/18.jpg) no-repeat 0px 0px;
	background-size:cover;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
	min-height:300px;
	text-align: center;
}
.banner h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    line-height: 1.5em;
}
.banner p{
	color:#fff;
	line-height:1.5em;
}
.wthree_banner_grids{
	padding:6em 0;
}
.wthree_banner_grid{
	text-align:center;
}
.wthree_banner_grid span {
    color: #fff;
    font-size: 30px;
}
.wthree_banner_grid h4{
	text-transform:capitalize;
	font-size:1em;
	color:#fff;
	padding-top:1em;
}
.agileits_more ul li{
	display:inline-block;
}
.agileits_more ul li a.hvr-icon-hang{
	padding:1em 3em 1em 2em;
	letter-spacing: 3px;
	color:#fff;
	font-weight:600;
	text-transform:capitalize;
	text-decoration:none;
	border:1px solid #fff;
	position: relative;
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
	display: inline-block;
    vertical-align: middle;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
a.w3ls_banner_more{
    background: #4FC242;
	color:#fff !important;
	border:1px solid #4FC242 !important;
}
.agileits_more ul li a.hvr-icon-hang:hover {
	background: #4FC242;
	color:#fff;
	border:1px solid #4FC242;
}
a.w3ls_banner_more:hover{
	border:1px solid #fff !important;
	color:#fff !important;
	background:none !important;
}
.agileits_more ul li a.hvr-icon-hang:before {
    content: "\f078";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.agileits_more ul li a.hvr-icon-hang:hover:before{
    -webkit-animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    animation-name: hvr-icon-hang-sink, hvr-icon-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

@-webkit-keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang {
  0% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }

  50% {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }

  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@-webkit-keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}

@keyframes hvr-icon-hang-sink {
  100% {
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/arrow.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
.modal-header {
    font-size: 2em;
    color:#C76994;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    text-transform: uppercase;
	font-weight: 600;
}
.close {
    opacity: 1;
}
.modal-body p {
    color: #999;
    text-align: left;
	padding:2em 2em 1em;
	margin: 0 !important;
	line-height:2em;
}
.modal-body p i {
    display: block;
    margin: 2em 0 0;
	color:#212121;
}
.modal-body {
    padding:2em;
}
button.close {
    font-size: 1em;
    color: #212121;
	outline: none;
}
.agileits_signin_form input[type=text], .agileits_signin_form input[type=password], .agileits_signin_form input[type=email],.agileits_signin_form input[type=file],.agileits_signin_form textarea,.agileits_signin_form select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin: 0 0 1em;
    outline: none;
    color: #212121;
    border: 1px solid #bfbfbf;
    letter-spacing: 1px;
    text-align: center;
}
.agileits_signin_form input[type=text] {
    background: none;
    display: block;
}
.agileits_signin_form input[type=password] {
    background: none;
    display: block;
}
.agileits_signin_form input[type=text]::-webkit-input-placeholder, .agileits_signin_form input[type=email]::-webkit-input-placeholder, .agileits_signin_form input[type=password]::-webkit-input-placeholder{
	color:#212121; !important;
}
.agileits_signin_form input[type=submit],.agileits_signin_form input[type=button] {
    padding: 10px 0;
    width: 100%;
    font-size: 1em;
    border: none;
    color: #fff;
    background: #C76994;
    outline: none;
    font-weight: 600;
    letter-spacing: 3px;
}
.agileits_signin_form input[type=submit]:hover,.agileits_signin_form input[type=button]:hover {
    background:#4FC242;
}
.agileits_signin_form p{
    font-size: 0.9em;
    color: #212121;
    letter-spacing: 1px;
    padding:2em 0;
}
.agileits_signin_form p a {
    color: #C76994;
	text-decoration:underline;
}
.agileits_signin_form p a:hover{
	color:#212121;
}
.agileinfo_sign{
	font-size:2em;
	color:#4FC242;
	margin-bottom:1em;
}
.w3agile_social_icons ul li {
    display: inline-block;
	margin-right:1em;
}
.w3agile_social_icons ul li:last-child{
	margin-right:0;
}
.wthree_follow{
	font-size:1.2em;
	color:#212121;
}
.agile_remember_left {
    float: left;
}
.agile_remember_left label,.agileinfo_subscribe label{
    font-size: 14px;
    font-weight: 600;
    color: #212121;
    text-transform: capitalize;
    margin: 0;
}
.agile_remember_right {
    float: right;
}
.checkbox {
    position: relative;
	padding-left:30px !important;
    cursor: pointer;
}
.checkbox i {
    position: absolute;
    bottom: 2px;
    left: 0;
    display: block;
    width: 15px;
    height: 15px;
    outline: none;
    border: 1px solid #5B5B5B;
    background: #FFF;
}
.checkbox input + i:after,.radio input + i:after {
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    -o-transition: opacity 0.1s;
    -ms-transition: opacity 0.1s;
    -moz-transition: opacity 0.1s;
    -webkit-transition: opacity 0.1s;
}
.checkbox input:checked + i:after,.radio input:checked + i:after{
    opacity: 1;
}
.checkbox input,.radio input {
    position: absolute;
    left: -9999px;
}
.checkbox input + i:after {
    content: '';
    background: url(../images/tick.png) no-repeat 0px 0px;
    top: -4px;
    left: 0px;
    width: 18px;
    height: 18px;
    text-align: center;
}
.agile_remember_right a {
    font-size: 14px;
    color:#C76994;
    text-decoration: underline;
}
.agile_remember_right a:hover {
    color: #212121;
}
.agile_remember {
    padding: 1.5em 0;
}
.w3layouts_header {
    text-align: center;
    font-size: 40px;
    color: #4FC242;
}
.features {
    padding: 5em 0;
}
.w3_agile_features_grids {
    margin-top: 4em;
}
.w3_features_para {
    position: relative;
    text-align: center;
    color: #999;
    padding: 1em 0 1.5em;
}
.w3_features_para:before,.w3_features_para:after{
	content:'';
	position:absolute;
	bottom:0%;
	background:#C76994;
	width:20%;
	height:2px;
}
.w3_features_para:before{
	left:27%;
}
.w3_features_para:after{
	right:27%;
}
.w3_features_para span:before{
	content: '';
    position: absolute;
    bottom: -21%;
    left: 49%;
    border: 2px solid #C76994;
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
}
.agile_features_grid img{
	margin: 0 auto;
}
.w3_agile_features_grid{
	text-align:center;
}
fieldset {
    padding: 1.5em 1.5em 2em;
    position: relative;
    margin: 2em auto 0;
    border: 2px solid #d5d2d2;
	line-height:2em;
	color:#999;
	font-size:14px;
}
.w3_agile_features_grid legend{
	text-transform: capitalize;
    font-size:1.5em;
    color: #c76994;
    line-height: 1.5em;
    margin: 0;
    font-weight: bold;
    border-bottom: none;
}

.ih-item {
  position: relative;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item,
.ih-item * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ih-item img {
  width: 100%;
  height: 100%;
}

.ih-item.circle,.ih-item.circle .img {
	position: relative;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
}
.ih-item.circle,.ih-item.circle .img,.ih-item.circle.effect1 .spinner {
	width: 200px;
    height: 200px;
	margin: 0 auto;
}
.ih-item.circle .img:before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
  border-radius: 50%;
}
.ih-item.circle.effect1 .spinner {
	border: 5px solid #4FC242;
    border-right-color: #C76994;
    border-bottom-color: #C76994;
	border-radius: 50%;
	-webkit-transition: all 0.8s ease-in-out;
	-moz-transition: all 0.8s ease-in-out;
	transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .img {
	position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    width: auto;
    height: auto;	
}
.ih-item.circle.effect1 .img:before {
  display: none;
}
.ih-item.circle.effect1:hover .spinner,.w3_agile_services_grid:hover .ih-item.circle.effect1 .spinner{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.service-row {
    margin-top: 4em;
}
.services {
    background: url(../images/17.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;
    padding: 5em 0;
}
.service-gd1,.service-gd2,.service-gd3{
	margin-bottom:20px;
}
.bott-img:hover {
	border-color: #4FC242;
}
.service-gds:hover h4.mission {
	color:#4FC242;
}
.bott-img {
	width: 100%;
	height: 320px;
	margin: 0px 0;
	text-align: center;
	border: 1px solid #ddd;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.bott-img .icon-holder {
	position: relative;
	top: 67px;
	display: inline-block;
	margin-bottom: 68px;
	padding: 20px 18px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border-radius: 100%;
	color: #fff;
	font-size: 60px;
}

.bott-img .mission {
	position: relative;
	top: 57px;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	color: #fff;
	font-size: 22px;
}

.bott-img .description {
	width: 80%;
	margin: 0 auto;
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	color:#fff;
}

.bott-img .icon-holder > .icon {
	width: 40px;
}

.bott-img:hover .icon-holder {
	top: 0px;
	background: transparent;
}

.bott-img:hover .mission {
	top: -48px;
}
.bott-img:hover .fa{
	display:none;
}
.bott-img:hover .description {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	font-size: 14px;
	line-height: 2.2em;
}

.footer{
	padding:4em 0;
	background:#212121;
}
.footer h2 a {
    font-size: 1.2em;
    line-height: 45px;
    text-transform: uppercase;
    color:#4FC242;
}
.footer h2 {
    text-align: center;
}
.footer h3 {
    text-align: center;
    font-size: 1em;
    color: #fff;
    margin: 0;
    letter-spacing: 5px;
    width: 40%;
    float: right;
    padding: 0;
}
.footer form{
	width:45%;
	margin:0 auto;
}
.footer input[type=email] {
    outline: none;
    padding: 10px 10px;
    font-size: 14px;
    color: #999;
    width: 74.1%;
    background: #fff;
    border: none;
}
.footer input[type=submit] {
    outline: none;
    width: 25%;
    background:#C76994;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border: none;
    padding: 10px 0;
}
.footer input[type=submit]:hover{
	background:#4FC242;
	color:#fff;
}
.agileits_w3layouts_nav_left{
	float:left;
}
.agileits_w3layouts_nav_left ul li{
	display:inline-block;
	margin-right:3em;
}
.agileits_w3layouts_nav_left ul li a{
	color:#fff;
	text-decoration:none;
	text-transform:uppercase;
}
.agileits_w3layouts_nav{
	margin:4em 0;
}
.agileits_w3layouts_nav_left ul li.active a{
	color:#4FC242;
}
.agileits_w3layouts_nav_right {
    margin: 2em auto;
    border-bottom: 1px solid #fdfdfd;
    padding: 1em 0;
    border-top: 1px solid #fdfdfd;
    width: 16%;
}
.agileits_w3layouts_nav_right ul li{
    display: inline-block;
}
.agileits_w3layouts_nav_right ul li a{
    width: 40px;
    height: 40px;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding-top: .5em;
    font-size: 13px;
    border: 2px solid #fff;
    border-radius: 30px;
}
.agileits_w3layouts_nav_right ul li a i {
    padding-top: .4em;
}
.agileits_w3layouts_nav_right ul li a:hover{
	background:#4FC242;
	border: 2px solid #4FC242;
}
.footer p{
	padding:1em 0;
	text-align:center;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	color:#fff;
}
.footer p a{
	text-decoration:none;
	color:#4FC242;
}
.about,.services,.team-bottom,.mail{
	padding:5em 0;
}
.w3l_head{
	font-size: 2.5em;
    font-weight: bold;
    color:#4FC242;
    text-transform: capitalize;
	position:relative;
	letter-spacing: 3px;
}
.w3l_head:before,.w3l_head:after{
	content: '';
    background: #eaeaea;
    height: 2px;
    width: 20%;
    position: absolute;
}
.w3l_head:before{
	top: -20%;
    left: -8%;
}
.w3l_head:after{
	bottom:0%;
	right:35%;
}
.w3ls_head_para{
	color:#C76994;
	text-transform:uppercase;
	letter-spacing:8px;
}
.agileits_about_left{
	border-right:1px solid #212121;
}
.agileits_about_right p{
	color:#999;
	line-height:2em;
	margin-bottom:3em;
}
.agileits_about_right p i{
	display:block;
	margin:2em 0 0;
}
.agileits_about_right {
    padding-left: 7em;
}
.agileits_about_right ul li{
	display: block;
    margin-bottom: 1em;
    color: #a2a2a2;
    line-height: 1.5em;
    text-transform: capitalize;
    font-family: 'Questrial', sans-serif;
    font-size: 1em;
	font-weight:600;
	letter-spacing:2px;
}
.agileits_about_right ul li i{
	color:#c76994;
	padding-right:1em;
}
.agileits_about_right ul li:last-child,.agileinfo_about_bottom_right_wthree ul li:last-child{
	margin-bottom:0;
}
.w3l_head1, .w3ls_head_para1 {
    text-align: center;
}
.w3l_head1:before {
    left: 35% !important;
}
.w3l_head1:before, .w3l_head1:after {
    width: 10% !important;
}
.gal-grid-rev {
    display: block;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  overflow: hidden;

}
.gal-grid-rev .info-gal-con {
  z-index: 2 !important;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gal-grid-rev .img-box-content:after, .gal-grid-rev .img-box-content:before, .gal-grid-rev .gal-text-box:after, .gal-grid-rev .gal-text-box:before {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  -webkit-transition: 0.8s ease-in-out;
  -moz-transition: 0.8s ease-in-out;
  -ms-transition: 0.8s ease-in-out;
  -o-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  filter: alpha(opacity=0);
  -wekbit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.gal-grid-rev.horizontal .img-box-content:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.gal-grid-rev.horizontal .img-box-content:after {
  top: 25%;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.gal-grid-rev.horizontal .gal-text-box:after {
  top: 50%;
  left: 0;
  width: 100%;
  height: 25%;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.gal-grid-rev.horizontal .gal-text-box:before {
  top: 75%;
  left: 0;
  width: 100%;
  height: calc(25% + 1px);
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.gal-grid-rev.vertical .img-box-content:before {
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.gal-grid-rev.vertical .img-box-content:after {
  top: 0;
  left: 25%;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.gal-grid-rev.vertical .gal-text-box:after {
  top: 0;
  left: 50%;
  width: 25%;
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.gal-grid-rev.vertical .gal-text-box:before {
  top: 0;
  left: 75%;
  width: calc(25% + 1px);
  height: 100%;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.gal-grid-rev:hover .img-box-content:after, .gal-grid-rev:hover .img-box-content:before, .gal-grid-rev:hover .gal-text-box:after, .gal-grid-rev:hover .gal-text-box:before {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -o-transform: rotateX(0deg);
  transform: rotateX(0deg);
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.gal-grid-rev:hover .info-gal-con {
  filter: alpha(opacity=100);
  -wekbit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.info-gal-con h4 {
    font-size: 30px;
    color: #FFFFFF;
    position: absolute;
    bottom: 49%;
    left: 34%;
    z-index: 999;
}
.social-content ul li{
	list-style-type:none;
	margin:0 12px;
	display:inline-block;
}
.social-content ul li a {
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
}
.social-content ul {
    position: absolute;
    bottom: 90px;
    left:29px;
    z-index: 999;
}
.team{
	padding:5em 0;
}
.team h4 {
    color: #fcfcfc;
}
.team-gds p {
    color: #000000;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
}
.img-box-content img {
    width: 100%;
}
/*--icons--*/
.social-content ul li .hvr-underline-from-center:before {
    background: #FBFCFD;
}
.social-content ul li i {
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
}
.social-content ul li:hover i.fa.fa-facebook {
    color: #3b5998;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	transition:0.5s all;
}
.social-content ul li:hover i.fa.fa-twitter {
	color:#1da1f2;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	transition:0.5s all;
}
.social-content ul li:hover i.fa.fa-pinterest-p {
    color: #bd081c;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	transition:0.5s all;
}
/*--//icons--*/
.team-gds h4 {
    font-size: 22px;
    text-align: center;
    margin: 23px 0px 10px;
    text-transform: uppercase;
    color:#c76994;
    font-weight: 600;
}
.team-gd {
    margin-top: 4em;
}
.about-mid {
    background: url(../images/16.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;
    padding: 5em 0;
}
.about-mid h4 {
    font-size: 22px;
    text-transform: uppercase;
    color: #fff;
    line-height: 34px;
    text-align: center;
}
/*--//team--*/
.w3l-gallery {
    padding: 5em 0;
}
.galley-grid {
    margin-bottom: 4em;
}
/*-- icons --*/
.codes a {
    color: #999;
}
.icon-box {
    padding: 8px 15px;
    background:rgba(149, 149, 149, 0.18);
    margin: 1em 0 1em 0;
    border: 5px solid #ffffff;
    text-align: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 13px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -moz-transition: 0.5s all;
    cursor: pointer;
} 
.icon-box:hover {
    background: #000;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-moz-transition:0.5s all;
}
.icon-box:hover i.fa {
	color:#fff !important;
}
.icon-box:hover a.agile-icon {
	color:#fff !important;
}
.codes .bs-glyphicons li {
    float: left;
    width: 12.5%;
    height: 115px;
    padding: 10px; 
    line-height: 1.4;
    text-align: center;  
    font-size: 12px;
    list-style-type: none;	
}
.codes .bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
}
.codes .glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.codes .bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
h3.icon-subheading {
    font-size: 28px;
    color: #c76994 !important;
    margin: 30px 0 15px;
    font-weight: 600;
    letter-spacing: 2px;
}
h3.agileits-icons-title {
    text-align: center;
    font-size: 33px;
    color: #222222;
    font-weight: 600;
    letter-spacing: 2px;
}
.icons a {
    color: #999;
}
.icon-box i {
    margin-right: 10px !important;
    font-size: 20px !important;
    color: #282a2b !important;
}
.bs-glyphicons li {
    float: left;
    width: 18%;
    height: 115px;
    padding: 10px;
    line-height: 1.4;
    text-align: center;
    font-size: 12px;
    list-style-type: none;
    background:rgba(149, 149, 149, 0.18);
    margin: 1%;
}
.bs-glyphicons .glyphicon {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 24px;
	color: #282a2b;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color: #777;
} 
.bs-glyphicons .glyphicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word;
}
@media (max-width:991px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 22px;
	}
}
@media (max-width:768px){
	h3.agileits-icons-title {
		font-size: 28px;
	}
	h3.icon-subheading {
		font-size: 25px;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.icon-box {
		margin: 0;
	}
}
@media (max-width: 640px){
	.icon-box {
		float: left;
		width: 50%;
	}
}
@media (max-width: 480px){
	.bs-glyphicons li {
		width: 31%;
	}
}
@media (max-width: 414px){
	h3.agileits-icons-title {
		font-size: 23px;
	}
	h3.icon-subheading {
		font-size: 18px;
	}
	.bs-glyphicons li {
		width: 31.33%;
	}
}
@media (max-width: 384px){
	.icon-box {
		float: none;
		width: 100%;
	}
}
/*-- //icons --*/
.w3_wthree_agileits_icons.main-grid-border {
    padding: 5em 0;
}
/*--Typography--*/
.well {
    font-weight: 300;
    font-size: 14px;
}
.list-group-item {
    font-weight: 300;
    font-size: 14px;
}
li.list-group-item1 {
    font-size: 14px;
    font-weight: 300;
}
.typo p {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
}
.show-grid [class^=col-] {
    background: #fff;
	text-align: center;
	margin-bottom: 10px;
	line-height: 2em;
	border: 10px solid #f0f0f0;
}
.show-grid [class*="col-"]:hover {
	background: #e0e0e0;
}
.grid_3{
	margin-bottom:2em;
}
.xs h3, h3.m_1{
	color:#000;
	font-size:1.7em;
	font-weight:300;
	margin-bottom: 1em;
}
.grid_3 p{
	color: #999;
	font-size: 0.85em;
	margin-bottom: 1em;
	font-weight: 300;
}
.grid_4{
	background:none;
	margin-top:50px;
}
.label {
	font-weight: 300 !important;
	border-radius:4px;
}  
.grid_5{
	background:none;
	padding:2em 0;
}
.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
    margin-bottom: 1em;
    color: #c76994;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 2px;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
	z-index: 0;
}
.badge-primary {
	background-color: #03a9f4;
}
.badge-success {
	background-color: #8bc34a;
}
.badge-warning {
	background-color: #ffc107;
}
.badge-danger {
	background-color: #e51c23;
}
.grid_3 p{
	line-height: 2em;
	color: #888;
	font-size: 0.9em;
	margin-bottom: 1em;
	font-weight: 300;
}
.bs-docs-example {
	margin: 1em 0;
}
section#tables  p {
	margin-top: 1em;
}
.tab-container .tab-content {
	border-radius: 0 2px 2px 2px;
	border: 1px solid #e0e0e0;
	padding: 16px;
	background-color: #ffffff;
}
.table td, .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 15px!important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	font-size: 0.9em;
	color: #999;
	border-top: none !important;
}
.tab-content > .active {
	display: block;
	visibility: visible;
}
.label {
	font-weight: 300 !important;
}
.label {
	padding: 4px 6px;
	border: none;
	text-shadow: none;
}
.alert {
	font-size: 0.85em;
}
h1.t-button,h2.t-button,h3.t-button,h4.t-button,h5.t-button {
	line-height:2em;
	margin-top:0.5em;
	margin-bottom: 0.5em;
}
li.list-group-item1 {
	line-height: 2.5em;
}
.input-group {
	margin-bottom: 20px;
}
.in-gp-tl{
	padding:0;
}
.in-gp-tb{
	padding-right:0;
}
.list-group {
	margin-bottom: 48px;
}
ol {
	margin-bottom: 44px;
}
h2.typoh2{
    margin: 0 0 10px;
}
@media (max-width:768px){
	.grid_5 {
		padding: 0 0 1em;
	}
	.grid_3 {
		margin-bottom: 0em;
	}
}
@media (max-width:640px){
	h1, .h1, h2, .h2, h3, .h3 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		margin-bottom: .5em;
	}
	.progress {
		height: 10px;
		margin-bottom: 10px;
	}
	ol.breadcrumb li,.grid_3 p,ul.list-group li,li.list-group-item1 {
		font-size: 14px;
	}
	.breadcrumb {
		margin-bottom: 25px;
	}
	.well {
		font-size: 14px;
		margin-bottom: 10px;
	}
	h2.typoh2 {
		font-size: 1.5em;
	}
	.label {
		font-size: 60%;
	}
	.in-gp-tl {
		padding: 0 1em;
	}
	.in-gp-tb {
		padding-right: 1em;
	}
}
@media (max-width:480px){
	.grid_5 h3, .grid_5 h2, .grid_5 h1, .grid_5 h4, .grid_5 h5, h3.hdg, h3.bars {
		font-size: 1.2em;
	}
	.table h1 {
		font-size: 26px;
	}
	.table h2 {
		font-size: 23px;
	}
	.table h3 {
		font-size: 20px;
	}
	.label {
		font-size: 53%;
	}
	.alert,p {
		font-size: 14px;
	}
	.pagination {
		margin: 20px 0 0px;
	}
	.grid_3.grid_4.w3layouts {
		margin-top: 25px;
	}
}
@media (max-width: 320px){
	.grid_4 {
		margin-top: 18px;
	}
	h3.title {
		font-size: 1.6em;
	}
	.alert, p,ol.breadcrumb li, .grid_3 p,.well, ul.list-group li, li.list-group-item1,a.list-group-item {
		font-size: 13px;
	}
	.alert {
		padding: 10px;
		margin-bottom: 10px;
	}
	ul.pagination li a {
		font-size: 14px;
		padding: 5px 11px;
	}
	.list-group {
		margin-bottom: 10px;
	}
	.well {
		padding: 10px;
	}
	.nav > li > a {
		font-size: 14px;
	}
	table.table.table-striped,.table-bordered,.bs-docs-example {
		display: none;
	}
}
/*-- //typography --*/
.typo {
    padding: 5em 0;
}
/*-- contact --*/
.w3_contact_grids textarea{
	outline: none;
    padding: 10px;
    color: #212121;
    font-size: 14px;
    border: none;
    border-bottom:2px solid #f2f2f2;
    background: none;
    width: 97.3%;
    margin:0 0 3em 1.1em;
    min-height: 150px;
    resize: none;
	font-weight:600;
}
.w3_contact_grids textarea::-webkit-input-placeholder {
	color: #212121 !important;
}
.w3_contact_grids input[type=submit] {
    outline: none;
    padding: 12px 0;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 1em;
    border: none;
    text-transform: uppercase;
    background: #c76994;
    width: 15%;
    margin-left: 30em;
    font-weight: 600;
}
.w3_contact_grids input[type=submit]:hover{
	 background:#4FC242;
}
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	max-width: 345px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
    padding: 0 1em;
    width: 40%;
    color: #212121;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}
/* Jiro */
.input__field--jiro {
	padding:1em 0.5em;
	width: 100%;
	background: transparent;
	color: #212121;
    font-size: 14px;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.input__label--jiro {
	position: absolute;
	left: 0;
	padding: 0 0.85em;
	width: 100%;
	height: 100%;
	text-align: left;
	font-size: 14px;
}

.input__label-content--jiro {
	-webkit-transition: -webkit-transform 0.3s 0.3s;
	transition: transform 0.3s 0.3s;
}

.input__label--jiro::before,
.input__label--jiro::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--jiro::before {
	border-top:2px solid #f2f2f2;
	-webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
	transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__label--jiro::after {
	z-index: -1;
	background:#f5f5f5;
	-webkit-transform: scale3d(1, 0, 1);
	transform: scale3d(1, 0, 1);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.input__field--jiro:focus,
.input--filled .input__field--jiro {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.input__field--jiro:focus + .input__label--jiro .input__label-content--jiro,
.input--filled .input__label-content--jiro {
	-webkit-transform: translate3d(0, -80%, 0);
	transform: translate3d(0, -80%, 0);
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.input__field--jiro:focus + .input__label--jiro::before,
.input--filled .input__label--jiro::before {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.input__field--jiro:focus + .input__label--jiro::before,
.input--filled .input__label--jiro::before {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--jiro:focus + .input__label--jiro::after,
.input--filled .input__label--jiro::after {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
/*-- //contact --*/
.w3_contact_grids {
    margin-top: 4em;
}
.agile-map iframe {
    width: 100%;
    min-height: 400px;
}
.contact {
    padding: 5em 0;
}
.all_pad {
    padding: 5em 0;
}
.con-left {
    border: 1px solid #ccc;
    padding: 0 2em 2em;
    margin: 0 2%;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.con-left:hover{
    border: 1px solid #c76994;	
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.con-left:hover .spa-ico{
	background:#c76994;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.spa-ico {
    background: #4fc242;
    width: 62px;
    height: 62px;
    transform: rotate(45deg);
    margin: -32px auto 0;
}
.con-left span {
    font-size: 2em;
    color: #fff;
    transform: rotate(-45deg);
    line-height: 57px;
}
.con-left h5 {
    color: #c76994;
    font-size: 1.8em;
    margin: 1.4em 0 .8em;
}
.content-right {
    padding-top: 1.5em;
}
.content-left a{
	font-size:1em;
	padding:1em 2em;
	text-transform:uppercase;
}
.ser-top-grids{
	margin-top:6em;
}
.con-left p {
    color: #777;
    font-size: 15px;
    line-height: 2.2em;
}.multi-gd-text a {
    display: block;
    position: relative;
}
.multi-gd-text a:hover::before {
    width: 100%;
    height: 100%;
}
.multi-gd-text a::before {
    background:rgba(247, 247, 247, 0.3);
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
    z-index: 99;
    content: "";
}
.multi-gd-text img {
    height: auto;
    width: 100%;
}
.multi-gd-text a:hover::after {
    width: 100%;
    height: 100%;
}
.multi-gd-text a::after {
    background:rgba(247, 247, 247, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
    z-index: 99;
    content: "";
}
.services_right {
    margin-top: 4em;
}
.list-left h4 {
    color: #c76994;
    font-size: 28px;
    margin: 30px 0 25px;
}
.list-left p {
    color: #464646;
    line-height: 2.2em;
    font-size: 15px;
    margin-top: 25px;
}
.services_agile {
    padding: 5em 0;
}
/*-----start-responsive-design------*/
@media (max-width: 1080px){
.w3ls-nav ul li {
    margin: 0 2em;
}
.banner h3 {
    font-size: 2.5em;
}
.wthree_banner_grids {
    padding: 4em 0;
}
.banner {
    min-height: 500px;
    padding: 6em 0 0;
}
.agileits_w3layouts_nav_right {
    width: 19%;
}
.footer form {
    width: 50%;
}
.agileits_w3layouts_nav_left ul li {
    margin-right: 2em;
}
fieldset {
    padding: 1.5em 1em 2em;
}
.banner1 {
    min-height: 230px;
}
.input {
    max-width: 278px;
}
.w3_contact_grids input[type=submit] {
    margin-left: 24em;
}
.social-content ul {
    left: 4px;
}
}
@media (max-width: 991px){
.w3ls-nav ul li {
    margin: 0 1em;
}
.banner h3 {
    font-size: 2em;
}
.wthree_banner_grid {
    float: left;
    width: 25%;
}
.banner {
    min-height: 440px;
    padding: 5em 0 0;
}
.wthree_banner_grids {
    padding: 3em 0;
}
.about, .services, .team-bottom, .mail {
    padding: 3em 0;
}
.agileits_about_left {
    border-right: none;
    text-align: center;
    margin-bottom: 2em;
}
.w3l_head:before {
    left: 35%;
}
.agileits_about_right {
    padding-left: 1em;
}
.features {
    padding: 3em 0 1em;
}
.w3_agile_features_grid {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}
.agileits_w3layouts_nav_right {
    width: 24%;
}
.footer form {
    width: 64%;
}
.agileits_w3layouts_nav_left ul li {
    margin-right: 1em;
}
.agileits_w3layouts_nav {
    margin: 3em 0;
}
.footer {
    padding: 3em 0;
}
.about-mid h4 {
    font-size: 18px;
}
.team-gds {
    float: left;
    width: 50%;
    margin-bottom: 2em;
}
.team {
    padding: 3em 0 1em;
}
.banner1 {
    min-height: 200px;
}
.all_pad {
    padding: 3em 0;
}
.ser-grid.agileinfo {
    margin-bottom: 4em;
}
.ser-grid.agileinfo:nth-child(3){
    margin-bottom: 0em;
}
.services_agile {
    padding: 0em 0 0em;
}
.services_right {
    margin-top: 2em;
}
.list-left.text-center {
    margin-bottom: 2em;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 3em 0;
}
.typo {
    padding: 3em 0;
}
.w3l-gallery {
    padding: 3em 0;
}
.contact {
    padding: 3em 0;
}
.w3_contact_grids input[type=submit] {
    margin-left: 20em;
}
.input {
    max-width: 205px;
}
}
@media (max-width: 767px){
	.navbar-toggle {
		float: none;
		margin: .5em 0;
	}
	.navbar-default .navbar-toggle {
		border-color: #212121;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #212121;
	}
	nav.navbar.navbar-default {
		text-align: center;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border: none;
		background: #c76994;
		text-align:center;
	}
	.navbar-nav {
		margin: 0;
	}
	.navbar-nav > li > a {
		padding: 1.2em 0;
		font-size: 13px;
	}
	.navbar-nav .open .dropdown-menu {
		background-color: #969595;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #fff;
	}
	.w3ls-nav {
    padding: 0.4em 0;
}
.w3ls-nav ul li {
    margin: 1em 0em;
	display:block;
}
.w3ls-nav ul li {
    margin: 1em 0em;
}
.agileinfo_search input[type=submit] {
    width: 16%;
}
}
@media (max-width: 736px){
.banner h3 {
    font-size: 1.8em;
}
.service-gd1, .service-gd2, .service-gd3,.service-gd4, .service-gd5, .service-gd6 {
    margin-bottom: 20px;
    float: left;
    width: 50%;
}
.agileits_w3layouts_nav_right {
    width: 26%;
}
.footer form {
    width: 67%;
}
.agileits_w3layouts_nav_left ul li {
    margin-right: 0.8em;
}
.w3_contact_grids input[type=submit] {
    margin-left: 18em;
}
.input {
    max-width: 194px;
}
}
@media (max-width: 667px){
	.banner h3 {
    font-size: 1.7em;
}
.agileits_w3layouts_nav_right {
    width: 28%;
}
.footer form {
    width: 74%;
}
.agileits_w3layouts_nav_left {
    float: none;
    text-align: center;
    margin-bottom: 20px;
}
.footer h3 {
    width: 100%;
    float: none;
}
.agileits_w3layouts_nav {
    margin: 2em 0;
}
.footer {
    padding: 2em 0 2em;
}
.w3_contact_grids input[type=submit] {
    width: 20%;
	    margin-left: 16em;
}
.input {
    max-width: 171px;
}
}
@media (max-width: 640px){
.w3_agile_logo h1 a {
    font-size: 30px;
}
.banner h3 {
    font-size: 1.5em;
}
.banner {
    min-height: 370px;
    padding: 4em 0 0;
}
.wthree_banner_grids {
    padding: 2em 0;
}
.wthree_banner_grids {
    padding: 2em 0;
}
.agileits_w3layouts_nav_right {
    width: 30%;
}
.input {
    max-width: 566px;
}
.w3_contact_grids {
    margin-top: 2em;
}
.galley-grid {
    margin-bottom: 2em;
}
}
@media (max-width: 600px){
.w3_agile_logo {
    float: none;
    width: 100%;
    text-align: center;
}
.agileits_w3layouts_sign_in {
    float: none;
    margin-top: .8em;
}
.agileits_w3layouts_sign_in ul li {
    margin-left: 18em;
}
.agileits_w3layouts_sign_in ul li:first-child {
    margin-left: 0;
}
.banner {
    min-height: 340px;
    padding: 3em 0 0;
}
.agileits_w3layouts_nav_right {
    width: 32%;
	margin: 1em auto;
}
.footer form {
    width: 83%;
}
.w3_contact_grids input[type=submit] {
    width: 26%;
    margin-left: 13em;
}
}
@media (max-width: 568px){
.agileits_w3layouts_sign_in ul li {
    margin-left: 16em;
}
.agileits_w3layouts_nav_right {
    width: 34%;
}
.footer form {
    width: 88%;
}
.w3_contact_grids input[type=submit] {
    width: 26%;
    margin-left: 12em;
}
}
@media (max-width: 480px){
.agileits_w3layouts_sign_in ul li {
    margin-left: 10em;
}
.banner h3 {
    font-size: 1.2em;
}
.agileits_more ul li a.hvr-icon-hang {
    padding: 1em 3em 1em 1.5em;
}
.banner {
    min-height: 320px;
    padding: 3em 0 0;
}
.w3l_head {
    font-size: 2em;
}
.w3ls_head_para {
    letter-spacing: 5px;
}
.w3l_head:before {
    left: 26%;
}
.w3l_head:after {
    right: 26%;
}
.w3l_head1:before {
    left: 26% !important;
}
.bott-img .icon-holder {
    margin-bottom: 40px;
    padding: 20px 10px;
}
.agileits_w3layouts_nav_right {
    width: 41%;
}
.footer form {
    width: 100%;
}
.footer input[type=email] {
    width: 73.1%;
}
.about-mid {
    padding: 3em 0;
}
.about-mid h4 {
    font-size: 16px;
    line-height: 28px;
}
.social-content ul li {
    margin: 0 0px;
}
.social-content ul {
    bottom: 65px;
}
.con-left h5 {
    font-size: 1.5em;
}
.con-left p {
    line-height: 1.8em;
}
.list-left p {
    line-height: 1.8em;
}
.banner1 {
    min-height: 160px;
}
.w3_contact_grids input[type=submit] {
    width: 26%;
    margin-left: 10em;
}
}
@media (max-width: 414px){
.agileits_w3layouts_sign_in ul li {
    margin-left: 5em;
}
.banner h3 {
    font-size: 1.03em;
}
.banner {
    min-height: 300px;
    padding: 3em 0 0;
}
.wthree_banner_grid h4 {
    font-size: 0.85em;
}
.service-row {
    margin-top: 2em;
}
.service-gd1, .service-gd2, .service-gd3, .service-gd4, .service-gd5, .service-gd6 {
    width: 100%;
}
.w3_agile_features_grid {
    width: 100%;
    margin-bottom: 2em;
}
.agileits_w3layouts_nav_right {
    width: 47%;
}
.footer h2 a {
    font-size: 1em;
}
.agileits_w3layouts_nav_left ul li {
    margin-right: 0.4em;
}
.social-content ul {
    bottom: 50px;
    left: 13px;
}
.ser-top-grids {
    margin-top: 4em;
}
.banner1 {
    min-height: 130px;
}
.w3_contact_grids input[type=submit] {
    width: 38%;
    margin-left: 8em;
}
.w3_contact_grids textarea {
    margin: 0 0 1em 1.1em;
}
.agile-map iframe {
    min-height: 180px;
}
.modal-header {
    font-size: 1.5em;
}
.modal-body p {
    padding: 1em 0em 1em;
}
}
@media (max-width: 384px){
.agileits_w3layouts_sign_in ul li {
    margin-left: 3em;
}
.banner h3 {
    font-size: 1em;
}
.agileits_about_left {
    margin-bottom: 1em;
}
.agileits_w3layouts_nav_right {
    width: 52%;
}
.agileits_w3layouts_nav_left ul li {
    margin-right: 0.8em;
}
.team-gds h4 {
    font-size: 19px;
    margin: 15px 0px 10px;
}
.team-gds p {
    font-size: 14px;
}
.w3_contact_grids input[type=submit] {
    margin-left: 7em;
}
.social-content ul {
    bottom: 50px;
    left: 3px;
}
}
@media (max-width: 375px){
.agileits_w3layouts_sign_in ul li {
    margin-left: 2em;
}
.agileits_w3layouts_nav_right {
    width: 54%;
}
}
@media (max-width: 320px){
.w3_agile_logo h1 a {
    font-size: 26px;
}
.agileits_w3layouts_sign_in ul li {
    margin-left: 1em;
}
.agileits_w3layouts_sign_in ul li {
    margin-left: 1em;
    float: left;
    width: 28%;
}
.agileits_w3layouts_sign_in ul li:first-child {
    width: 66%;
    float: left;
}
.agileinfo_search input[type=text] {
    width: 81%;
}
.agileits_w3layouts_sign_in ul li a {
    padding: .5em 1em;
}
.banner h3 {
    font-size: 0.9em;
}
.agileits_more ul li a.hvr-icon-hang {
    padding: 0.8em 3em 0.8em 1.5em;
}
.wthree_banner_grid {
    padding: 0 6px;
}
.wthree_banner_grid h4 {
    font-size: 0.7em;
}
.banner {
    min-height: 270px;
    padding: 2em 0 0;
}
.about, .services, .team-bottom, .mail {
    padding: 2em 0;
}
.agileits_about_right {
    padding: 0;
}
.agileits_about_right ul li {
    line-height: 1em;
    font-size: 0.9em;
}
.w3l_head {
    font-size: 1.7em;
}
.w3_agile_features_grid legend {
    font-size: 1.3em;
}
.features {
    padding: 2em 0 0em;
}
.agileits_w3layouts_nav_right {
    width: 64%;
}
.footer h2 a {
    font-size: 0.9em;
}
.footer input[type=email] {
    width: 63.1%;
}
.footer input[type=submit] {
    width: 35%;
}
.about-mid h4 {
    font-size: 13px;
    line-height: 25px;
}
.about-mid {
    padding: 2em 0;
}
.team {
    padding: 2em 0 0em;
}
.team-gds {
    width: 100%;
    margin-bottom: 2em;
}
.social-content ul {
    bottom: 84px;
    left: 56px;
}
.all_pad {
    padding: 2em 0;
}
.ser-grid.agileinfo {
    padding: 0;
}
.con-left {
    padding: 0 1em 2em;
}
.list-left h4 {
    font-size: 24px;
    margin: 20px 0 15px;
}
.list-left p {
    margin-top:0;
}
.list-left.text-center {
    padding: 0;
}
.banner1 {
    min-height: 110px;
}
.w3_wthree_agileits_icons.main-grid-border {
    padding: 2em 0;
}
.typo {
    padding: 2em 0;
}
.w3l-gallery {
    padding: 2em 0;
}
.contact {
    padding: 2em 0;
}
.w3_contact_grids {
    margin-top: 1em;
}
.w3_contact_grids input[type=submit] {
    margin-left: 6em;
}
.checkbox {
    padding-left: 20px !important;
}
.agile_remember_right a {
    font-size: 13px;
}
}