﻿.datadiv{
    padding: 10px;
    width: 99%;
    border-radius: 8px;
    overflow-y:auto;
    max-height:80%;
}
.panel-bottom{

	position: fixed;
    bottom: 0;
    padding:10px;
	background-color:#F5F5F5;
	border-top:1px solid #ddd;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	height:250px;
	border-radius: 8px;
	font-size:xx-large;
	width:100%;

}
.faq{
	background-color: #ededed;
	border-radius: 8px;
	padding:5px;
	margin-bottom:10px;
	margin-top:10px;
	max-height:250px;
	overflow-y:auto;
	font-size:large;
	height:250px;
}